<h1>Editing Book</h1>
<%= form_with model:@book, url:"/#{@book.id}", local:true do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
  <div class="field">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>
  <!--class="label"-->
  <div class="field">
    <%= f.label :body, "Body" %>
    <%= f.text_area :body %>
  </div>
  
  <div class="action">
    <%= f.submit 'Update Book' %>
  </div>
<% end %>
<%= link_to "Show", booklists_path(@book) %>
<!--@があるなら@で-->
|
<!--↑ 仕切りの線｜-->
<%= link_to "Back", "/books" %>